$theme-blue: #008dcf;
$theme-blue-dark: #007cb6;
$theme-blue-light-1: #dbf3ff;
$theme-blue-light-2: #92dcff;
$theme-blue-light-3: #49c5ff;

$theme-orange: #f8a434;
$theme-orange-dark: #b06706;
$theme-orange-light-1: #feefdc;
$theme-orange-light-2: #fbd095;
$theme-orange-light-3: #f9b04f;

$theme-neon: #0ff2b2;
$theme-neon-dark: #09ad7f;
$theme-neon-light-1: #dcfdf4;
$theme-neon-light-2: #97f9de;
$theme-neon-light-3: #52f6c8;

$theme-blue: #008dcf;
$theme-blue-dark: #007cb6;
$theme-blue-light-1: #dbf3ff;
$theme-blue-light-2: #92dcff;
$theme-blue-light-3: #49c5ff;

$theme-grey: #808080;
$theme-grey-dark-1: #5b5b5b;
$theme-grey-dark-2: #1c1d1f;
$theme-grey-light-1: rgb(22, 38, 46, 0.2);
$theme-grey-light-2: #c8c8c8;
$theme-white: #ffffff;
$theme-black: #0d0f12;
$theme-background: #f9f9f9;
$theme-light-text: #fbfbfc;
